/*------google font poppins --*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* header part  */
.header-baground {
    background-color: #264653;
}

.title-info {
    color: #e0e0e0;
}

/* button color */
.btn-bc {
    background-color: #e76f51;
}